.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 23px;
    padding-bottom: 24px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  @extend %list;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.nav__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  @extend %link;
  color: var(--secondary-font-color);
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--link-hover-focus);
  }
}

.nav__link--current {
  color: var(--link-hover-focus);
  &::after {
    position: absolute;
    left: 0;
    bottom: -33px;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--link-hover-focus);
  }
}

.contacts__list {
  @extend %list;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: inline;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
.contacts__item:not(:first-child) {
  margin-left: 50px;
}
.contacts__link {
  @extend %link;
  display: flex;
  text-decoration: none;
  color: var(--primary-font-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--link-hover-focus);
    fill: var(--primary-accent-color);
  }
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  align-items: center;
}

// --==============================================
.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  &__icon {
    width: 40px;
    height: 40px;
  }
  &__icon:hover,
  &__icon:focus {
    fill: var(--logo-accent-color);
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.mobile-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.close-btn__mobile {
  position: absolute;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  &--icon {
    padding-top: 15px;
  }
}
.mobile-menu__container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}
.nav-list,
.contacts-list,
.social-list {
  @extend %list;
}
.nav-list__link,
.contacts-list__link,
.social-list__link {
  @extend %link;
}
.nav-list__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-bottom: 35px;
  }
}
.nav-list__link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: var(--logo-accent-color);
  }
}
.contacts-list {
  position: absolute;
  bottom: 134px;
}
.contacts-list__item:not(:last-child) {
  margin-bottom: 34px;
}
.contacts-list__link {
  color: var(--logo-accent-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  &--mail-title {
    @extend %link;
    color: var(--primary-font-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
.social-list {
  position: absolute;
  bottom: 48px;
  display: flex;
  align-items: center;
  // justify-content: center;
  margin-left: 0;
}
.social-list__link {
  color: var(--logo-accent-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.social-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:not(:last-child)::after {
    position: absolute;
    content: "";
    height: 22px;
    width: 0px;
    right: -10px;
    top: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}
