.header__logo {
  @extend %logo, %link;
  margin-right: 88px;
  margin-left: 0;

  &--acent {
    color: var(--logo-second-color);
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 94px;
  }
}

.footer__logo {
  @extend %logo, %link;

  &--accent {
    color: var(--logo-footer-color);
  }
}
